Source: lofarbeam
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 cmake,
 debhelper (>=11),
 casacore-dev (>=3.3.0),
 libboost-python-dev,
 libboost-numpy-dev,
 libboost-dev,
 python3-dev
Standards-Version: 4.5.0
Homepage: https://github.com/lofar-astron/LOFARBeam

Package: lofarbeam-dev
Architecture: any
Depends:
 ${misc:Depends},
 libelementresponse3 (= ${binary:Version}),
 libstationresponse3 (= ${binary:Version})
Conflicts: lofar-dev
Description: Stand-alone version of the LOFAR station response library
 This package has undergone the same branching process as the DP3 package: it
 is a continuation of the LOFAR beam library at svn.astron.nl/LOFAR, and was
 extracted from and branched off LOFAR Release 3.2. The LOFAR beam package
 will likely not be maintained in the ASTRON repository.

Package: libelementresponse3
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: LOFAR element response library
 This package has undergone the same branching process as the DP3 package: it
 is a continuation of the LOFAR beam library at svn.astron.nl/LOFAR, and was
 extracted from and branched off LOFAR Release 3.2. The LOFAR beam package
 will likely not be maintained in the ASTRON repository.

Package: libstationresponse3
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: LOFAR station response library
 This package has undergone the same branching process as the DP3 package: it
 is a continuation of the LOFAR beam library at svn.astron.nl/LOFAR, and was
 extracted from and branched off LOFAR Release 3.2. The LOFAR beam package
 will likely not be maintained in the ASTRON repository.

Package: python3-lofarbeam
Architecture: any
Depends: ${shlibs:Depends},
        ${misc:Depends},
        ${python:Depends},
		libstationresponse3,
		libelementresponse3
Description: LOFAR station response python bindings

